	<footer class="footer">
		<div class="container clearfix">
			<blockquote class="closing-line">
				“As for me, I am tormented with an everlasting itch for things remote. I love to sail forbidden seas, and land on barbarous coasts.”
				<footer>
					— Herman Melville, Moby-Dick
				</footer>
			</blockquote>
			<div class="say-hello" id="hello">
				<h4>Say Hello</h4>
				<p>I’d love to hear what you think about my blog, drop me a line on <a href="http://twitter.com/{{ site.author.twitter }}">Twitter</a> or <a href="mailto:{{ site.author.email }}">email me</a>. Stay tuned by subscribing on the <a href="{{ site.baseurl }}/feed.xml">blog’s feed</a> or by following me on <a href="http://instagram.com/{{ site.author.instagram }}">Instagram</a>, where I'll be sharing new adventures and stories. Hope to hear from you!</p>
				<p class="social-icons">
					<a href="http://facebook.com/{{ site.author.facebook }}" title="Facebook">
						<img src="{{ site.baseurl }}/assets/img/icn_facebook.svg" alt="Facebook">
					</a>
					<a href="http://instagram.com/{{ site.author.instagram }}" title="Instagram">
						<img src="{{ site.baseurl }}/assets/img/icn_instagram.svg" alt="Instagram">
					</a>
					<a href="http://twitter.com/{{ site.author.twitter }}" title="Twitter">
						<img src="{{ site.baseurl }}/assets/img/icn_twitter.svg" alt="Twitter">
					</a>
				</p>
			</div>
			<a class="by" href="http://edmundojr.com" title="Designed &amp; Developed by Edmundo Santos"><img src="{{ site.baseurl }}/assets/img/ed.svg" alt="Edmundo Santos, Web Designer and Front-end Developer"></a>
		</div>
	</footer>

	<script src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>

</body>
</html>