//
// Header and Navigation
// ----------------------------------------------------------------------------

.header {
	@include user-select(none);
	text-align: center;
}


// Navigation
// ----------------------------------------------

.nav {
	margin: 7.8125% 0;
	font: 700 1.1em/1em $font-family-display;
	text-transform: uppercase;

	@include respond-to(medium) {
		font-size: 1em;
	}

	// Links

	a {
		@include transition(color $base-duration);
		display: inline-block;
		vertical-align: middle;
		padding: .25em .5em;
		color: $accent-color;

		&:hover,
		&:focus {
			color: #fff;
			outline: none;
		}

		@include respond-to(small) {
			padding: .75em 1em;
		}
	}

	// Logo

	.logo {
		margin: 0 4.6875%;
		color: #fff;

		@include respond-to(medium) {
			max-width: 200px;
		}

		@include respond-to(small) {
			display: block;
			margin: 0 auto;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


// Opening line
// ----------------------------------------------

.opening-line {
	padding: 0 2.5em;
	margin: 15% 10% 0;
	font-size: 1.2em;
	line-height: 1.45;
	color: #85878B;

	@include respond-to(big) {
		margin: 15% 0 0;
		font-size: 1.1em;
	}

	@include respond-to(medium) {
		margin: 15% 0 0;
		font-size: 1em;
	}

	@include respond-to(tiny) {
		padding: 0 1.5em;
		margin-top: 20%;
	}
}