//
// Settings
// ----------------------------------------------------------------------------

// Colors

$base-color   : #734020;
$accent-color : #fcc04d;

// Fonts

$font-family-text    : "ff-tisa-web-pro", Georgia, serif;
$font-family-display : "proxima-nova", "Helvetica Neue", "Arial" sans-serif;

// Breakpoints

$big    : 1000px;
$medium : 800px;
$small  : 600px;
$tiny   : 400px;

// Transitions time

$base-duration: .3s;
$slow-duration: .45s;
$fast-duration: .15s;

// Transition easing

$timing-elastic: cubic-bezier(0.175,.885,.32,1.275);